@import "./tokens.css";
@import "./typography/typography.css";
@import "./elevation/elevation.css";
@import "./color/atomic.css";
@import "./color/semantic.css";

html {
  word-break: keep-all;
  overflow-wrap: break-word;
}

button,
input,
select,
textarea {
  font-family: inherit;
  line-height: inherit;
}
